$font: 'Raleway', sans-serif;

$bg-body: #F5F5F5;
$bg-gray-light: #F8FAFC;

$color-body: #0F151F;
$color-title: #191918;
$color-text: #577C87;



$width-container: 1680px;
$pd-container: 15px;
$pd-container-smx: 15px;

$md-desktop-lg: 1699.98px;
$md-desktop-md: 1339.98px;
$md-desktop: 1199.98px;
$md-tablet: 1023.98px;
$md-tablet-sm: 767.98px;
$md-mobile-lg: 609.98px;
$md-mobile: 478.98px;
$md-mobile-sm: 399.98px;
$md-mobile-smx: 360px;

$header-h: 100px;
$header-h-t: 80px;
$header-h-m: 70px;